[tool.poetry]
name = "pykebab"
version = "0.7.8"
description = ""
authors = ["Yangming Huang <leonmax@gmail.com>"]
packages = [
    { include = "kebab" },
]

[tool.poetry.dependencies]
python = "^3.7"
deprecation = "^2.1.0"
pydantic = "^1.10.2"
# cli
click = { version = "^8.1.3", optional = true }
# aws
boto3 = { version = "^1.26.99", optional = true }
# k8s
kubernetes = { version = "^26.1.0", optional = true }
configparser = "^5.3.0"
pyyaml = "^6.0"
setuptools = "^67.6.0"

[tool.poetry.extras]
cli = ["click"]
k8s = ["kubernetes"]
aws = ["boto3"]

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-cov = "^4.0.0"
pytest-black = "^0.3.12"
mock = "^5.0.1"
black = { version = "*", allow-prereleases = true }
flake8 = "^5.0.4"
flake8-black = "^0.3.3"

[tool.poetry.scripts]
kebab = 'kebab.cli:run'

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = ["tests"]
filterwarnings = ["ignore::DeprecationWarning"]

[build-system]
requires = ["poetry>=1.1.12"]
build-backend = "poetry.masonry.api"
